<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <style>
        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }
    </style>

</head>
<body>
    <header class="header-main"></header>
        <section class="header-box">
            <a class="header-logout" href="/logout"><button>Logout</button></a>
            <h1 class="current-page">Configuration</h1>
            <p class="user-role-display">Logged In As: <span class="user-role"><%= displayuser %></span></p>
        </section>
    </header>
    <main>
        <aside class="nav-sidebar">
            <ul>
                <li><button onclick="window.location.href = '/'">Home</button></li>
                <li><button onclick="window.location.href = '/finance'">Finance</button></li>
                <li><button onclick="window.location.href = '/incomes'">Incomes</button></li>
                <li><button onclick="window.location.href = '/incometypes'">Income Types</button></li>
                <li><button onclick="window.location.href = '/expenses'">Expenses</button></li>
                <li><button onclick="window.location.href = '/expensetypes'">Expense Types</button></li>
                <li><button onclick="window.location.href = '/assets'">Assets</button></li>
                <li><button onclick="window.location.href = '/assettypes'">Asset Types</button></li>
                <li><button onclick="window.location.href = '/liabilities'">Liability</button></li>
                <li><button onclick="window.location.href = '/liabilitytypes'">Liability Types</button></li>
                <li><button onclick="window.location.href = '/configuration'">Configuration</button></li>
            </ul>
        </aside>

        <nav class="user-control-navbar">
            <button>Setup</button>
        </nav>

        <section class="page-content">
            <div class="form-container">
                <h2>Enter Login Details</h2>
                <form id="editForm" action="/createNewUser/insert" method="POST">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter Username" required>

                    <label for="password">Password</label>
                    <input type="text" id="password" name="password" placeholder="Enter Password" required>

                    <div class="button-container">
                        <button type="submit">Create User</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>
